.nav-item:hover {
  background-color: #032830;
  transition: 200ms ease-in-out;
}
.navbar {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

section {
  background-color: #ecf9ff;
}

.about-exp-item-detail {
  display: none;
}

.readmore:hover {
  cursor: pointer;
}

#animate-img {
  opacity: 0;
}
#animate-text {
  opacity: 0;
}
.section-title {
  opacity: 0;
}

@keyframes leftRightIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightLeftIn {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes downUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* flipcard */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ecf9ff;
}

.flip-card-back {
  background-color: #f9f9f9;
  transform: rotateY(180deg);
}

/* end */

.work-img-item:hover::after {
  content: "";
  width: 100%;
  height: 46.5%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

#work-1:hover::after {
  content: "Mipafest 2.0";
}

#work-2:hover::after {
  content: "PKKMB FMIPA 2022";
}

#work-3:hover::after {
  content: "BEM FMIPA 2022";
}

.btn {
  width: 100%;
}

#maps {
  display: block;
}

@media only screen and (max-width: 768px) {
  #maps {
    display: none;
  }
}
